*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    cursor: pointer;
}
body{
    background-image: url("./images/orange-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    background-attachment: fixed;
    margin: auto;
    width: max-content;
}
/* For Name */
#name-container{
    position: relative;
    top: 400px;
    margin: auto;
    width: max-content;
    display: block;
}
#name-text p{
    color: white;
    position: relative;
    bottom: 30px;
    font-size: 50px;
}
#name-button {
    display: block;
}
#name-input-container{
    display: flex;
}
#wrong-message{
    color: red;
    margin-left: 55px;
    margin-top: 5px;
    font-size: 20px;
    display: none;
}
#name-input {
    width: 300px;
    padding: 20px; 
    position: relative;
    margin-left: 25px;
    bottom: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    font-size: 20px;
}
#name-next {
    position: relative;
    top: 10px;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 150px;
    padding: 10px 30px;
    font-size: 20px;
}
/* For Modes */
#options-container{
    position: relative;
    top: 400px;
    display: none;
    margin: auto;
    width: max-content;
}
#modes-text p{
    color: white;
    position: relative;
    bottom: 30px;
    font-size: 50px;
}
#modes-buttons button{
    background-color: rgb(255, 102, 0);
    color: white;
    border: 0px;
    border-radius: 50px;
    padding: 20px 50px;
    margin: 0px 0px;
    display: inline;
    font-size: 30px;
}
#eazy-mode:hover{
    transition: 0.3s;
    background-color: rgb(0, 255, 76);
    color: black;
    margin: 0px 5px;
    position: relative;
    bottom: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
#normal-mode:hover{
    transition: 0.3s;
    background-color: rgb(0, 174, 255);
    color: black;
    border: 0px;
    margin: 0px 5px;
    position: relative;
    bottom: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
#hard-mode:hover{
    transition: 0.3s;
    background-color: rgb(255, 30, 0);
    color: black;
    border: 0px;
    margin: 0px 5px;
    position: relative;
    bottom: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.modes-buttons-back{
    position: relative;
    top: 30px;
    margin-left: 230px;
}
#mode-back {
    border: 0px;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 20px;
}
/* For The Game */
#game-container{
    display: none;
}
.player-result{
    display: flex;
    margin: auto;
    width: max-content;
}
#player-one{
    background-color: rgb(37, 37, 37);
    position: relative;
    top: 100px;
    color: white;
    width: 300px;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}
#result-text{
    position: relative;
    top: 50px;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0);
    font-size: 40px;
}
#player-two{
    background-color: rgb(37, 37, 37);
    position: relative;
    top: 100px;
    color: white;
    width: 300px;
    padding: 20px;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
}
.game-class{
    display: flex;
    margin: auto;
    width: max-content;
}
/* Player */
#player-rock{
    width: 350px;
    height: 350px;
    position: relative;
    top: 200px;
    margin-left: 20px;
}
#player-paper{
    display: none;
    width: 350px;
    height: 350px;
    position: relative;
    top: 200px;
    margin-left: 20px;
}
#player-scissors{
    display: none;
    width: 350px;
    height: 350px;
    position: relative;
    top: 200px;
    margin-left: 20px;
}
/* Computer */
#seperate-wall{
    width: 10px;
    height: 600px; 
    position: relative;
    top: 100px;
    margin: auto 90px;
}
#computer-message-container{
    position: relative;
    top: 130px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-radius: 5px;
    padding: 20px;
}
#computer-message{
    color: rgba(0, 0, 0, 0);
    font-size: 30px;
}
#computer-rock{
    width: 350px;
    height: 350px;
    position: relative;
    top: 130px;
}
#computer-paper{
    display: none;
    width: 350px;
    height: 350px;
    position: relative;
    top: 130px;
}
#computer-scissors{
    display: none;
    width: 350px;
    height: 350px;
    position: relative;
    top: 130px;  
}
/* Buttons of Tools */
#buttons-of-tools{
    position: relative;
    top: 170px;
    margin: auto;
    width: max-content;
}
#buttons-of-tools button{
    width: 200px;
    border: 0px;
    border-radius: 5px;
    padding: 20px;
    margin-left: 20px;
    background-color: rgb(255, 102, 0);
    color: white;
    font-size: 30px;
    text-align: center;
}
#buttons-of-tools button:hover{
    transform: 0.5s;
    background-color: rgb(255, 72, 0);
    color: white;
    font-size: 25px;
}